<%- include("partials/header.ejs"); -%>

<form action="/" method="post">
  <label for="cityInput">City Name: </label>
  <input id="cityInput" type="text" name="cityName" placeholder="Write here...">
  <button type="submit" class="btn-go">Go</button>
</form>

  <div class="data">
    <h1>The temperature in <%=query%> is <%=temp%> degrees Celcius.</h1>
    <img src=<%=imageURL%> alt="weather-icon">
    <p>The Weather is currently <%=weatherDescr%>.</p>
    <!-- <button type="submit" name="button" class="btn-back">Back</button> -->
  </div>

<%- include("partials/footer.ejs"); -%>
